.typearea {
  width: 100%;
  position: relative;
}

.typearea textarea {
  width: 100%;
  height: 20em;
  border: 2px solid white;
  resize: none;
  color: rgb(209, 143, 143);
  font-size: 1.1rem;
  border-radius: 2em;
  box-shadow: 4px 4px 4px rgb(209, 143, 143);
  padding: 0.7em;
  user-select: none;
}

.typearea > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: rgb(155, 106, 106);
  animation: 500ms linear infinite timeup;
}

.typearea textarea:focus {
  border: none;
}

.typewords {
  padding: 0.3em;
}

.typewords p {
  font-size: 1.1rem;
  color: rgb(155, 106, 106);
  user-select: none;
}

.typearea button {
  color: white;
  background: rgb(155, 106, 106);
  border: 2px solid white;
  box-shadow: 2px 2px 2px white;
  border-radius: 0.5em;
  padding: 0.3em;
  font-size: 1.1rem;
  transition: background 2s;
  margin-top: 0.5em;
}

.typearea button:hover {
  background: rgb(209, 143, 143);
  cursor: pointer;
}

@keyframes timeup {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
